{% extends "apollo/header.html" %}

{% block content %}
<body style="background-image: url('/static/apollo/Amazing-Blue-BG.png'); background-size: 1550px 768px; background-position: center; height: 100%;">
<img class = "Logo" src = "/static/apollo/JLSS.png" alt = "Apollo Hospital" align = "right" style = "width: 75px; height: 75px; border-radius: 50%;">
{% load crispy_forms_tags %}

<div class = "container py-5">
  <h1 class = "text-white">Login</h1><br><br><br>
  <form method = "POST">
    {% csrf_token %}
    <div class = "form-row align-center text-white">
      <div class = "form-group col-md-4 mb-0">
        {{ form.patient_id|as_crispy_field }}
      </div>
    </div>
    <div class = "form-row align-center text-white">
      <div class = "form-group col-md-4 mb-0">
        {{ form.password|as_crispy_field }}
      </div>
    </div><br><br>
    <button class = "btn btn-primary" type = "submit">Login</button>
  </form>
  <br><br><br><br><br><br><br><br>
  <p class = "text-center text-white">Don't have an account? <a href = "/apollo/patregister" style = "color: cyan">Create one</a></p>
</div>
{% endblock %}
